/*REGOLE GENERALI*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: white;
  border: none;
}
/*HEADER*/
/*1° RIGA*/
.navbar-header img{
  width: 200px;
  margin-top: -10px;
  margin-right: 150px;
}
.btn-default{
  margin-top: 10px;
}
/*MAIN*/
/*2° RIGA*/
.jumbotron{
  background-image: url(../img/jumbo.svg);
  color: white;
  background-size: cover;
}
.jumbotron p{
  font-size: 15px;
  text-align: center;
}
.jumbotron form{
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.jumbotron h2{
  text-align: center;
}
#text-black{
  color: black;
}
#text-blue{
  color: blue;
}
