/*REGOLE GENERALI*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: white;
  border: none;
}
/*HEADER*/
/*1° RIGA*/

.navbar-header img{
  width: 40%;
}
.navbar-nav{
  margin-left: -40px;
}
.btn-default{
  margin-top: 10px;
}
@media all and (min-width: 768px)/*NOTA PER PROBLEMA VIEWPORT*/
and (max-width: 992px) {

}
/*MAIN*/
/*2° RIGA*/
.jumbotron{
  background-image: url(../img/jumbo.svg);
  color: white;
  background-size: cover;
}
.jumbotron p{
  font-size: 15px;
}

.jumbotron form{
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  height: 400px;

}
.float{
  float: left;
}
#text-black{
  color: black;
  text-align: center;
}
#text-blue{
  color: blue;
  text-align: center;
}
.btn-account{
  background-color: #6495ED;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}
.btn-google{
  background-color: white;
  width: 100%;
  border: none;
}
.google-border{
  height: 30px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  color: black;
}
.google-border img{
  width: 18px;
  float: left;
  padding-top: 5px;
}
